@import "partials/variables";

html {
  background-color: #222222;
}

body {
  font-family: $text-font;
  font-size: em(18px);
  color: $text-color;
  background-color: $body-background-color !important;
  height: 100%;
}

.row {
  margin-top: 25px;
}

h1 {
  color: $text-color !important;
}