@import "partials/variables";

html {
  height: 100%;

  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #222222 41%, #222222 60%, #222222 60%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#222222 41%,#222222 60%,#222222 60%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#222222 41%,#222222 60%,#222222 60%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

body {
  background: url("./../img/brick-bk.png") repeat center center fixed;
  font-family: $text-font;
  font-size: em(18px);
  color: $text-color;
  background-color: $body-background-color !important;
  height: 100%;
}

.row {
  margin-top: 25px;
}

h1, h2, h3 {
  color: $text-color !important;
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

/* ===== Play Area ===== */

.play-area {
  text-align: center;
}

canvas {
  cursor: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

/* ===== High Score Table ===== */
.high-score {
  text-align: left;
  text-indent: 15px;
  .row {
    margin-top: 0px;
  }
  .list-group-item {
    background-color: transparent !important;
    color: $text-color;
  }
  input {
    background-color: transparent;
    border: none;
    color: $text-color;
    width: 100%;
  }
}

/* ===== Bat & Ball Intro Screen ===== */
.bat-and-ball-intro-screen {
  text-align: center;
  p {
    color: $text-color;
    text-align: justify;
  }

  .full-screen span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .full-screen span:after {
    font-family: FontAwesome;
    content: '\f0b2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }

  .full-screen:hover span {
    padding-right: 15px;
  }

  .full-screen:hover span:after {
    opacity: 1;
    right: 0;
  }


  .click-to-play span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .click-to-play span:after {
    font-family: FontAwesome;
    content: '\f090';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }

  .click-to-play:hover span {
    padding-right: 15px;
  }

  .click-to-play:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* ===== Bat & Ball Game Over Screen ===== */
.bat-and-ball-game-over {
  text-align: center;
  p {
    color: $text-color;
    text-align: justify;
  }
}